1. Understanding Variables
a. Define a variable in Python. Provide an example of how to create a variable that
stores your name.

Define a variable in Python

A variable in Python is a symbolic name that refers to a location in memory where data is stored. Variables in Python are dynamically typed, which means you don't need to declare their type before assigning a value. Python determines the type of variable based on the assigned value.

In [1]:
# Variable to store your name
my_name = "Vijay Kumar"

# Print the value stored in the variable
print(my_name)

Vijay Kumar

In this example, my_name is a variable that stores the string "Vijay Kumar". 

The = operator is used to assign the value on the right-hand side (the string) to the variable on the left-hand side (my_name).

Key Points:

* Variable names can contain letters, numbers, and underscores, but they must start with a letter or an underscore.
* Python is case-sensitive, so my_name and My_Name are different variables.
* Variables in Python are dynamically typed, so you can change the type of data stored in a variable at any time.

b. What is the difference between a variable and a constant? Can we have constants in Python?

Difference Between a Variable and a Constant
Variable:
* A variable is a storage location identified by a name, where data can change during program execution.
* Example: If you have a variable x initialized as x = 10, you can later change the value of x to something else like x = 20.

In [6]:
x = 10   # variable with initial value 10
x = 20   # value changed to 20
x

20

Constant:

* A constant is a value that cannot be changed once it's assigned. It remains the same throughout the program's execution.
* Python does not have built-in support for constants like some other programming languages (e.g., Java, C++), but the convention is to define constants using all uppercase letters. Though Python allows you to change the value of these constants, it is a widely accepted practice to not do so.

In [8]:
PI = 3.14159
GRAVITY = 9.8
PI

3.14159

In [9]:
GRAVITY

9.8

In this example, PI and GRAVITY are constants. While Python won't stop you from reassigning them, it's a programming convention to treat such values as immutable.

Key Differences:

* Mutability: Variables can change, constants (by convention) should not.
* Syntax: Constants are usually written in uppercase letters to indicate that they should not be modified, though Python does not enforce this rule.

Can we have constants in Python?

* Python doesn't enforce constants like some other languages. However, constants can be implemented using third-party libraries like enforce or by using class-level constants. However, the common approach is to rely on naming conventions (uppercase) to signify a constant.

2. Working with Different Data Types
a. Create variables of the following types in Python:
1. Integer
2. Float
3. String
4. Boolean

In Python, you can easily create variables of various data types. Python handles types dynamically, meaning the data type of a variable is inferred based on the value you assign to it. Here’s a detailed example for each type:

a. Creating Variables of Different Types

Integer:
* An integer is a whole number (positive or negative) without a decimal point.
* Example of creating an integer variable:

In [11]:
age = 25  # This is an integer variable
print(type(age))  # Outputs: <class 'int'>

<class 'int'>

Float:

* A float is a number that contains a decimal point or is represented in exponential notation.
* Example of creating a float variable:

In [13]:
pi_value = 3.14159  # This is a float variable
print(type(pi_value))  # Outputs: <class 'float'>

<class 'float'>

String:

* A string is a sequence of characters enclosed in single, double, or triple quotes.
* Example of creating a string variable:

In [14]:
my_name = "John Doe"  # This is a string variable
print(type(my_name))  # Outputs: <class 'str'>

<class 'str'>

Boolean:

* A boolean variable can hold one of two values: True or False. It's often used in conditions and comparisons.
* Example of creating a boolean variable:

In [16]:
is_raining = False  # This is a boolean variable
print(type(is_raining))  # Outputs: <class 'bool'>

<class 'bool'>

Summary of Examples:

* age = 25 → Integer (int)
* pi_value = 3.14159 → Float (float)
* my_name = "John Doe" → String (str)
* is_raining = False → Boolean (bool)

These are the most common data types in Python, and Python automatically recognizes the data type based on the value you assign to a variable.

b. Write a Python script to display the type of each variable you created.

Here's a Python script that creates variables of different data types (Integer, Float, String, and Boolean) and displays their types using the type() function.

In [17]:
# Creating variables of different types

# Integer variable
age = 25

# Float variable
pi_value = 3.14159

# String variable
my_name = "John Doe"

# Boolean variable
is_raining = False

# Display the types of each variable
print(f"The type of variable 'age' is: {type(age)}")          # Output: <class 'int'>
print(f"The type of variable 'pi_value' is: {type(pi_value)}")  # Output: <class 'float'>
print(f"The type of variable 'my_name' is: {type(my_name)}")    # Output: <class 'str'>
print(f"The type of variable 'is_raining' is: {type(is_raining)}")  # Output: <class 'bool'>

The type of variable 'age' is: <class 'int'>
The type of variable 'pi_value' is: <class 'float'>
The type of variable 'my_name' is: <class 'str'>
The type of variable 'is_raining' is: <class 'bool'>

3. Arithmetic Operators

a. Explain the following arithmetic operators with examples:

1. Addition (`+`)
2. Subtraction (`-`)
3. Multiplication (``)
4. Division (`/`)
5. Floor Division (`//`)
6. Modulus (`%`)
7. Exponentiation (``)

Arithmetic Operators in Python

Arithmetic operators are used to perform mathematical operations between variables or values. Let's go through each of them in detail with examples:

1. Addition (+)

Functionality: Adds two numbers together.

Syntax: a + b

In [18]:
a = 10
b = 5
result = a + b
print(result)  # Output: 15

15

* In this example, a and b are added, resulting in 15.

2. Subtraction (-)

Functionality: Subtracts the right operand from the left operand.

Syntax: a - b

In [19]:
a = 10
b = 5
result = a - b
print(result)  # Output: 5

5

* Here, 5 is subtracted from 10, resulting in 5.

3. Multiplication (*)

Functionality: Multiplies two numbers.

     Syntax: a * b

In [21]:
a = 10
b = 5
result = a * b
print(result)  # Output: 50

50

* 10 is multiplied by 5, giving the result 50.

4. Division (/)

Functionality: Divides the left operand by the right operand and returns a floating-point result.

Syntax: a / b

In [22]:
a = 10
b = 5
result = a / b
print(result)  # Output: 2.0

2.0

* 10 divided by 5 gives 2.0 (floating-point result).10 divided by 5 gives 2.0 (floating-point result).

5. Floor Division (//)

Functionality: Divides the left operand by the right operand and returns the largest integer less than or equal to the result.

    Syntax: a // b

In [23]:
a = 10
b = 3
result = a // b
print(result)  # Output: 3

3

* 10 divided by 3 is 3.33, but // returns the integer part, which is 3.

6. Modulus (%)

Functionality: Returns the remainder of the division between two numbers.

    Syntax: a % b

In [24]:
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

10 divided by 3 gives a remainder of 1.

7. Exponentiation ()**

Functionality: Raises the left operand to the power of the right operand.

    Syntax: a ** b

In [25]:
a = 2
b = 3
result = a ** b
print(result)  # Output: 8

8

2 raised to the power of 3 results in 8 (2 * 2 * 2 = 8).

Summary of Operators and Their Functions:

Operator	Functionality	Example	Result

+	Addition	10 + 5	15
-	Subtraction	10 - 5	5
*	Multiplication	10 * 5	50
* /	Division (float)	10 / 5	2.0
* //	Floor Division (integer)	10 // 3	3
* %	Modulus (remainder)	10 % 3	1
**	Exponentiation (power)	2 ** 3	8
 	
These are some of the basic arithmetic operators in Python used for mathematical operations. Each one performs a different operation and returns a corresponding result based on the values of the operands.

b. Write a Python script to calculate the area of a rectangle using variables `length`
and `width` with values 5 and 10, respectively. Use the multiplication operator.

Here’s a simple Python script to calculate the area of a rectangle using the given values for length and width:

In [1]:
# Define the variables for length and width
length = 5
width = 10

# Calculate the area using the multiplication operator
area = length * width

# Print the result
print(f"The area of the rectangle with length {length} and width {width} is {area}.")

The area of the rectangle with length 5 and width 10 is 50.

Comparison and Logical Operators

a. Explain the following comparison operators with examples:
1. Equal to (`==`)
2. Not equal to (`!=`)
3. Greater than (`>`)
4. Less than (`<`)
5. Greater than or equal to (`>=`)
6. Less than or equal to (`<=`)

Equal to (==):

This operator checks if two values are equal.
Example:

In [2]:
a = 5
b = 5
print(a == b)  # Output: True

True

Not equal to (!=):

This operator checks if two values are not equal.

In [3]:
a = 5
b = 10
print(a != b)  # Output: True

True

Greater than (>):

This operator checks if the value on the left is greater than the value on the right.

In [4]:
a = 10
b = 5
print(a > b)  # Output: True

True

Less than (<):

This operator checks if the value on the left is less than the value on the right.

In [5]:
a = 5
b = 10
print(a < b)  # Output: True

True

Greater than or equal to (>=):

This operator checks if the value on the left is greater than or equal to the value on the right.

In [7]:
a = 10
b = 10
print(a >= b)  # Output: True

True

Less than or equal to (<=):

This operator checks if the value on the left is less than or equal to the value on the right.

In [8]:
a = 5
b = 10
print(a <= b)  # Output: True

True

These operators are fundamental in programming for making decisions and controlling the flow of the program.

b. Using logical operators (`and`, `or`, `not`), write a Python script that checks if a
number is positive and even.

In [13]:
# Define a function to check if a number is positive and even
def is_positive_and_even(number):
    return number > 0 and number % 2 == 0

# Test the function with an example number
number = int(input("Please enter a number:" ))
result = is_positive_and_even(number)

# Print the result
print(f"The number {number} is positive and even: {result}")

Please enter a number: 4

The number 4 is positive and even: True

5. Type Casting in Python
a. What is type casting? Explain the difference between implicit and explicit type
casting with examples.

Type casting in Python refers to converting one data type into another. This can be done either implicitly by Python or explicitly by the programmer.

Implicit Type Casting

Implicit type casting, also known as coercion, is automatically performed by Python when it encounters mixed data types in an expression. Python converts the data type to a higher-order type to avoid data loss.

Example:

In [14]:
# Implicit type casting
num_int = 10
num_float = 3.14

# Adding integer and float
result = num_int + num_float

print(result)  # Output: 13.14
print(type(result))  # Output: <class 'float'>

13.14
<class 'float'>

In this example, num_int (an integer) is implicitly converted to a float when added to num_float (a float), resulting in a float.

Explicit Type Casting

Explicit type casting, also known as type conversion, is performed by the programmer using built-in functions to convert data types.

Example:

In [15]:
# Explicit type casting
num_str = "123"
num_int = int(num_str)  # Convert string to integer

print(num_int)  # Output: 123
print(type(num_int))  # Output: <class 'int'>

123
<class 'int'>

In this example, the string num_str is explicitly converted to an integer using the int() function.

Key Differences

    Implicit Type Casting:
* Performed automatically by Python.
* Converts data types to avoid data loss.
* Example: Adding an integer to a float results in a float.

    Explicit Type Casting:
* Performed manually by the programmer.
* Uses built-in functions like int(), float(), str(), etc.
* Example: Converting a string to an integer using int().

b. Write a Python script that:

1. Converts a float to an integer.
2. Converts an integer to a string.
3. Converts a string to a float.

In [17]:
# 1. Convert a float to an integer
float_num = 3.14
int_num = int(float_num)
print(f"Float {float_num} converted to integer: {int_num}")

# 2. Convert an integer to a string
int_num = 42
str_num = str(int_num)
print(f"Integer {int_num} converted to string: '{str_num}'")

# 3. Convert a string to a float
str_num = "123.45"
float_num = float(str_num)
print(f"String '{str_num}' converted to float: {float_num}")

Float 3.14 converted to integer: 3
Integer 42 converted to string: '42'
String '123.45' converted to float: 123.45

 Practical Exercise: Mini Calculator
 
Write a Python script that asks the user to input two numbers and then:

1. Adds the two numbers and prints the result.
2. Subtracts the second number from the first and prints the result.
3. Multiplies the two numbers and prints the result.
4. Divides the first number by the second and prints the result (handle division by zero).
5. Converts the sum of the numbers to a string and prints the type of the result.

In [18]:
# Mini Calculator Script

# Ask the user to input two numbers
num1 = float(input("Please enter the first number: "))
num2 = float(input("Please enter the second number: "))

# 1. Add the two numbers and print the result
sum_result = num1 + num2
print(f"The sum of {num1} and {num2} is: {sum_result}")

# 2. Subtract the second number from the first and print the result
subtraction_result = num1 - num2
print(f"The result of subtracting {num2} from {num1} is: {subtraction_result}")

# 3. Multiply the two numbers and print the result
multiplication_result = num1 * num2
print(f"The product of {num1} and {num2} is: {multiplication_result}")

# 4. Divide the first number by the second and print the result (handle division by zero)
if num2 != 0:
    division_result = num1 / num2
    print(f"The result of dividing {num1} by {num2} is: {division_result}")
else:
    print("Division by zero is not allowed.")

# 5. Convert the sum of the numbers to a string and print the type of the result
sum_str = str(sum_result)
print(f"The sum as a string is: '{sum_str}'")
print(f"The type of the sum as a string is: {type(sum_str)}")

Please enter the first number:  34
Please enter the second number:  43

The sum of 34.0 and 43.0 is: 77.0
The result of subtracting 43.0 from 34.0 is: -9.0
The product of 34.0 and 43.0 is: 1462.0
The result of dividing 34.0 by 43.0 is: 0.7906976744186046
The sum as a string is: '77.0'
The type of the sum as a string is: <class 'str'>