
1)Create a list named my_list that contains the following elements: 10, 20, 30, 40, 50.
2) Write a Python code to access the first and last elements of my_list.
3) Change the second element of my_list to 25.
4) Append the value 60 to my_list.
5) Insert the value 15 at the second position in my_list.
6) Remove the first occurrence of 30 from my_list using the remove() method.
7) Use the pop() method to remove and return the last element from my_list.
8) Sort my_list in ascending order.
9) Reverse the order of elements in my_list.
10) Count how many times the value 20 appears in my_list.
11) Slice my_list to create a new list containing the first three elements.
12) Find the index of the value 40 in my_list.
13) Clear all elements from my_list using the clear() method.
14) Create a nested list called nested_list with two sublists: [1, 2, 3] and [4, 5, 6].
15) Access the element 5 fromÂ nested_list.

1) Create a list named my_list that contains the following elements: 10, 20, 30, 40, 50.

In [3]:
my_list = [10, 20, 30, 40, 50]

2) Write a Python code to access the first and last elements of my_list.

In [4]:
first_element = my_list[0]
last_element = my_list[-1]
print(f"First element from my_list is : {first_element}, Last element from my_list is: {last_element}")

First element from my_list is : 10, Last element from my_list is: 50

3) Change the second element of my_list to 25.

In [6]:
my_list[1] = 25
my_list

[10, 25, 30, 40, 50]

4) Append the value 60 to my_list.

In [8]:
my_list.append(60)
my_list

[10, 25, 30, 40, 50, 60, 60]

5) Insert the value 15 at the second position in my_list.

In [9]:
my_list.insert(1, 15)
my_list

[10, 15, 25, 30, 40, 50, 60, 60]

6) Remove the first occurrence of 30 from my_list using the remove() method.

In [11]:
my_list.remove(30)
my_list

[10, 15, 25, 40, 50, 60, 60]

7) Use the pop() method to remove and return the last element from my_list.

In [12]:
last_element = my_list.pop()
print(f"Removed last element: {last_element}") 
my_list

Removed last element: 60

[10, 15, 25, 40, 50, 60]

8) Sort my_list in ascending order.

In [13]:
my_list.sort()
my_list

[10, 15, 25, 40, 50, 60]

9) Reverse the order of elements in my_list.

In [14]:
my_list.reverse()
my_list

[60, 50, 40, 25, 15, 10]

10. Count how many times the value 20 appears in my_list.

In [18]:
count_20 = my_list.count(20)
print(f"Number of times 20 appears: {count_20}")
my_list

Number of times 20 appears: 0

[60, 50, 40, 25, 15, 10]

11) Slice my_list to create a new list containing the first three elements.

In [19]:
first_three_elements = my_list[:3]
print(f"First three elements are: {first_three_elements}")
my_list

First three elements are: [60, 50, 40]

[60, 50, 40, 25, 15, 10]

12) Find the index of the value 40 in my_list.

In [21]:
index_40 = my_list.index(40)
print(f"Index of 40: {index_40}")
my_list

Index of 40: 2

[60, 50, 40, 25, 15, 10]

13. Clear all elements from my_list using the clear() method.

In [22]:
my_list.clear()
print(my_list)  # Should print an empty list []

[]

14) Create a nested list called nested_list with two sublists: [1, 2, 3] and [4, 5, 6].

In [23]:
nested_list = [[1, 2, 3], [4, 5, 6]]
nested_list

[[1, 2, 3], [4, 5, 6]]

15. Access the element 5 from nested_list.

In [24]:
element_5 = nested_list[1][1]
print(f"Element 5: {element_5}")

Element 5: 5